
.container-main{
    background-color: #ffffff;
    background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.UserBasic-Form{
    background-color: white;
    padding: 2rem;
    color: rgb(80, 77, 77);
    text-align: center;
    border-radius: 10px;
   
}
.UserBasic-Form h1{
    margin: 1rem 0;
}
.UserBasic-Form button{
    margin-top: 1rem;
    cursor: pointer;
}



@media screen and (max-width: 800px) {
  
  .UserBasic-Form{
    height: 100%;
    min-height: auto;
    border-radius: 0%;
  }   
}
@media screen and (max-width: 600px) {
    .container-main{
        min-height: 100%;
    }
    .inputsContainer{
        padding: .3rem 0;
        height: auto;
        flex-direction: column;
    }    
  
    
}