* {
  margin: 0%;
  padding: 0%;
}

.app__Home {
  width: 100%;
  background-color: white;
  overflow: hidden;
}
.app__Home__container {
  min-height: 95vh;
  max-height: 95vh;
  margin: auto;
  background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem 3rem;
}
.app__Home__text {
  flex: 0 0 50%;
}
.app__Home__text h1 {
  font-weight: 900;
  font-size: 102px;
  line-height: 99.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-shadow: 0 0 1px white;
  color: #1976d2;
}
.app__Home__text p {
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 22px;
  margin: 1rem 0 2rem 0;
  width: 90%;
}
.app__Home__text .home-link-resume {
  text-decoration: none;
  color: white;
}
.app__Home__animation {
  flex: 1;
}
.app__Home__animation .lottie-container {
  margin-top: 4rem;
}
.app__Home__animation .lottie-container div {
  width: 80%;
}

@media screen and (max-width: 1600px) {
  .app__Home__text {
    margin-top: -4rem;
  }
  .app__Home__text h1 {
    font-size: 70px;
    line-height: 88px;
  }
  .app__Home__animation .lottie-container {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 1450px) {
  .app__Home__text h1 {
    font-size: 60px;
    line-height: 78px;
  }
}
@media screen and (max-width: 1200px) {
  .app__Home__text {
    margin-top: -4rem;
  }
  .app__Home__text h1 {
    font-size: 50px;
    line-height: 68px;
  }
  .app__Home__animation .lottie-container {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1050px) {
  .app__Home__container {
    flex-direction: column;
    min-height: 100vh;
    max-height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .app__Home__text {
    margin-top: 4rem;
  }
  .app__Home__text h1 {
    font-size: 50px;
    line-height: 68px;
  }
  .app__Home__animation {
    width: 100%;
  }
  .app__Home__animation .lottie-container {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 750px) {
  .app__Home__text {
    margin-top: 3rem;
    margin-left: 1rem;
  }
  .app__Home__text h1 {
    font-size: 40px;
    line-height: 40px;
  }
  .app__Home__text p {
    font-size: 18px;
  }
  .app__Home__animation .lottie-container {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 600px) {
  .app__Home__container {
    padding: 0 1rem;
  }
}
.app__main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  background: #000046;
  box-shadow: 1px 0 1px white;
}
.app__main-nav__logo .logo-container {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  text-shadow: 0 0 1px white;
  color: #1976d2;
  text-decoration: none;
}

.userHeaderlogout {
  color: black;
  margin-left: 1rem;
  background-color: white;
  text-decoration: none;
  border: none;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s all;
  border-radius: 0.4rem;
  letter-spacing: -0.01rem;
  text-transform: none;
}
.userHeaderlogout:hover {
  background-color: rgb(224, 220, 220);
}

.userHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userHeader h2 {
  color: white;
}
.userHeader button {
  margin-left: 1rem;
  background-color: white;
  border: none;
  padding: 0.2rem 0.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s all;
  border-radius: 0.4rem;
}
.userHeader button:hover {
  background-color: rgb(224, 220, 220);
}

@media screen and (max-width: 650px) {
  .userHeader h2 {
    font-size: 0.75rem;
  }
  .app__main-nav {
    padding: 1rem;
  }
  .app__main-nav__logo .logo-container {
    font-size: 1.75rem;
    letter-spacing: -0.09rem;
  }
}
@media screen and (max-width: 450px) {
  .userHeaderlogout {
    font-size: 0.7rem;
  }
  .app__main-nav {
    padding: 1rem;
  }
  .app__main-nav__logo .logo-container {
    font-size: 1.25rem;
    letter-spacing: -0.09rem;
  }
}
.container-main {
  background-color: #ffffff;
  background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.UserBasic-Form {
  background-color: white;
  padding: 2rem;
  color: rgb(80, 77, 77);
  text-align: center;
  border-radius: 10px;
}

.UserBasic-Form h1 {
  margin: 1rem 0;
}

.UserBasic-Form button {
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .UserBasic-Form {
    height: 100%;
    min-height: auto;
    border-radius: 0%;
  }
}
@media screen and (max-width: 600px) {
  .container-main {
    min-height: 100%;
  }
  .inputsContainer {
    padding: 0.3rem 0;
    height: auto;
    flex-direction: column;
  }
}
.previ-next-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.previ-next-button button {
  width: 7rem;
  padding: 0.3rem 0 !important;
}

.select-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  flex: 0 0 46%;
}
.select-input label {
  flex: 1;
}
.select-input div {
  flex: 2;
}

@media screen and (max-width: 600px) {
  .previ-next-button {
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }
  .previ-next-button button {
    width: auto;
    margin: 0% !important;
    padding: 0.5rem 1rem !important;
    margin-top: 0.4rem !important;
  }
  .select-input {
    width: 12rem;
  }
  .UserBasic-Form {
    padding: 3rem 0%;
    width: 100%;
  }
}
.jobInputsContainer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 0;
}
.jobInputsContainer div label {
  line-height: 0.8rem;
  font-size: 0.7rem;
}
.jobInputsContainer div label:active, .jobInputsContainer div label:focus, .jobInputsContainer div label:visited {
  line-height: 1rem;
}
.jobInputsContainer input {
  height: 0.4rem;
  margin: 0%;
}
.jobInputsContainer textarea {
  margin: 0 8px 8px 8px !important;
  width: 90%;
  min-height: 5rem !important;
}

@media screen and (max-width: 600px) {
  .userJobInfo {
    padding: 0 0.5rem;
  }
}
.login-form {
  background-color: #ffffff;
  background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.login-form__container {
  padding: 5rem 6rem;
  box-shadow: 0 0 3px #1976d2;
  border-radius: 0.5rem;
  background-color: white;
}
.login-form__container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form__container form h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .login-form {
    align-items: flex-start;
    justify-content: flex-start;
    background: white !important;
  }
  .login-form__container {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    padding: 0%;
    box-shadow: none;
    border-radius: 0%;
  }
  .login-form__container form {
    height: 100%;
    padding: 5rem 3rem;
  }
}
@media screen and (max-width: 350px) {
  .login-form__container {
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .login-form__container form {
    height: 100%;
    padding: 5rem 1rem;
  }
}
.notlogin {
  width: 100%;
  min-height: 95vh;
  display: flex;
}
.notlogin h1 {
  width: 80%;
  margin: 5rem auto;
}

.app__mainAniamtion {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: #000046;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__mainAniamtion span {
  font-size: 5rem;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-container-input {
  margin: 0 auto;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

textarea {
  height: 5rem;
  padding: 0.5rem;
  border: none;
  outline: 0.001rem solid gray;
  outline: 0.001rem solid gray;
  border-radius: 3px;
  margin-top: 1rem;
}
textarea:active, textarea:visited, textarea:focus {
  outline: 2px solid blue;
}

@media screen and (max-width: 600px) {
  .inputsContainer {
    flex-direction: column;
    align-items: center;
  }
  .resume-builder-heading {
    font-size: 1rem;
  }
}
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */