*{
    margin: 0%;
    padding: 0%;
}


@import './modules/_basicUser';
@import './modules/_detailsUser';
@import './modules/_jobInfo';
@import './modules/_form';
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.userHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    
     button{
        margin-left: 1rem;
        background-color: white;
        border: none;
        padding: .2rem .5rem;
        font-weight: 700;
        cursor: pointer;
        transition: .4s all;
        border-radius: .4rem;
        &:hover{
            background-color: rgb(224, 220, 220);
        }
    }
}
.userHeaderlogout{
    color: black;
    margin-left: 1rem;
    background-color: white;
    text-decoration: none;
    border: none;
    padding: .2rem .5rem;
    font-weight: 700;
    cursor: pointer;
    transition: .4s all;
    border-radius: .4rem;
    letter-spacing: -0.01rem;
    text-transform: none;

    &:hover{
    background-color: rgb(224, 220, 220);
    }
}
.resume-builder-heading{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: -0.01rem;
}

.custom-container-input{
    margin:  0 auto;

}
.inputsContainer{
    display: flex;
    flex-direction:row;
    justify-content: center;
}

textarea{
    height: 5rem;
    padding: .5rem;
    border: none;
    outline: 0.001rem solid gray;
    outline: 0.001rem solid gray;
    border-radius: 3px;
    margin-top: 1rem;
    &:active,
    &:visited,
    &:focus{
    outline: 2px solid blue;
    }
}
@media screen and (max-width:600px) {
    .inputsContainer{
        flex-direction: column;
        align-items: center;
    }
    .resume-builder-heading{
        font-size: 1rem;
    }
}

